{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
	لیست خرید های من
{% endblock %}

{% block content %}
	<div class="container">
    <div class="row">
         <div class="col-md-4">
            {% render_partial 'user_panel_module.views.user_menu_component' %}
         </div>
        <div class="col-md-8">
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <th class="text-center">شناسه</th>
                    <th class="text-center">کالا</th>
                    <th class="text-center">تعداد</th>
                    <th class="text-center">قیمت نهایی خرید</th>

                </tr>
                {% for detail in order.orderdetail_set.all %}
                    <tr>
                    <td class="text-center">{{ detail.id }}</td>
                    <td class="text-center">
                        {{ detail.product.title}}
                    </td>
                    <td class="text-center">
                        {{ detail.count }}
                    </td>
                        <td class="text-center">
                        {{ detail.final_price | three_digit_currency }}
                    </td>
{#                    <td class="text-center">#}
{#                        <a href="" class="btn btn-success"> جزئیات</a>#}
{#                    </td>#}
                    </tr>

                {% endfor %}
            </table>

            </div>
        </div>
    </div>
{% endblock %}