{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}

{% block title %}
	لیست خرید های من
{% endblock %}

{% block content %}
	<div class="container">
    <div class="row">
         <div class="col-md-4">
            {% render_partial 'user_panel_module.views.user_menu_component' %}
         </div>
        <div class="col-md-8">
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <th class="text-center">شناسه</th>
                    <th class="text-center">تاریخ تایید فاکتور</th>
                    <th class="text-center">قیمت نهایی</th>
                    <th class="text-center">دستورات</th>
                </tr>
                {% for order in object_list %}
                    <tr>
                    <td class="text-center">{{ order.id }}</td>
                    <td class="text-center">
                        {{ order.payment_date | show_jalali_date}}
                    </td>
                    <td class="text-center">
                        {{ order.calculate_total_price | three_digit_currency }}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'user_shopping_detail_page' order_id=order.id %}" class="btn btn-success"> جزئیات</a>
                    </td>
                    </tr>

                {% endfor %}


            </table>

            </div>
        </div>
    </div>
{% endblock %}