{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}
جزییات مقاله
{% endblock %}

{% block content %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">{{ article.title }}</h2>
						<div class="single-blog-post">
							<h3>{{ article.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{ article.author }}</li>
									<li><i class="fa fa-clock-o"></i> 17:20 ب.ظ</li>
                                        <li><i class="fa fa-calendar"></i> {{article.created_date | show_jalali_date }} </li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
                                 <a href="">
{#                                    <img src="{{ article.image.url }}" alt="">#}

                                    {% thumbnail article.image "862x398" quality=95 crop='center' as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}

							</a>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>

						</div>
					</div><!--/blog-post-area-->

                    {% if article.author %}
                    	<div class="media commnets">
						<a class="pull-right" href="#">
                        {% if article.author.avatar %}
                        	  {% thumbnail article.author.avatar "121x86" quality=95 crop='center' as im %}
                                        <img class="media-object" src="{{ im.url }}">
                                    {% endthumbnail %}
                            {% else %}
							<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                               {% endif %}
						</a>
						<div class="media-body">
							<h4 class="media-heading"> نویسنده: {{ article.author }}</h4>
                            <p>{{ article.author.about_user }}</p>

						</div>
					</div>
                    {% endif %}

                    <!--Comments-->
					<div class="response-area">
						<h2> نظرات({{ comments.count }})</h2>
						<ul class="media-list">
                            {% for comment in comments %}

							<li class="media">
								<a class="pull-right" href="#">
									<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>{{ comment.create_date | time }}</li>
										<li><i class="fa fa-calendar"></i> {{ comment.create_date | show_jalali_date }}  </li>
									</ul>
                                    <p>
                                        {{ comment.text }}
                                    </p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>
                                 {% for sub_comment in comment.articlecomment_set.all %}
                                        <li class="media second-media">
								<a class="pull-right" href="#">
									<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ sub_comment.user }}</li>
										<li><i class="fa fa-clock-o"></i>{{ sub_comment.create_date | time }}</li>
										<li><i class="fa fa-calendar"></i> {{ sub_comment.create_date | show_jalali_date }}  </li>
									</ul>
                                    <p>
                                        {{ sub_comment.text }}
                                    </p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>
                                  {% endfor %}

                            {% endfor %}



						</ul>
					</div><!--/Response-area-->
					<div class="replay-box">
						<div class="row">

							<div class="col-sm-8">
								<div class="text-area">
									<div class="blank-arrow">
										<label>متن پیام</label>
									</div>
									<span>*</span>
									<textarea name="message" rows="11"></textarea>
									<a class="btn btn-primary" href="">ارسـال نظـر</a>
								</div>
							</div>
							<div class="col-sm-4">
								<h2>نظـر خود را بنویسیـد</h2>
								<form>
									<div class="blank-arrow">
										<label>نام</label>
									</div>
									<span>*</span>
									<input type="text" placeholder="نام شما ...">
									<div class="blank-arrow">
										<label>آدرس ایمیـل</label>
									</div>
									<span>*</span>
									<input type="email" placeholder="ایمیـل شما ...">
									<div class="blank-arrow">
										<label>وبسایت</label>
									</div>
									<input type="email" placeholder="آدرس وبسایـت">
								</form>
							</div>
						</div>
					</div><!--/Repaly Box-->
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>دسته بندی محصولات</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											دسته 1
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">محصول 1 </a></li>
											<li><a href="">محصول 2 </a></li>
											<li><a href="">محصول 3 </a></li>
											<li><a href="">محصول 4</a></li>
											<li><a href="">محصول 5</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											دسته 2
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="">محصول 1 </a></li>
											<li><a href="">محصول 2 </a></li>
											<li><a href="">محصول 3 </a></li>
											<li><a href="">محصول 4</a></li>
											<li><a href="">محصول 5</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 1</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 2</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 3</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 4</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 5</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 6</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">محصول 7</a></h4>
								</div>
							</div>
						</div><!--/category-productsr-->

						<div class="brands_products"><!--brands_products-->
							<h2>برنـد ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
									<li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
									<li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
									<li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
									<li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="">
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}